<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >
    <!-- 외장 메모리(읽기). -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 외장 메모리(쓰기). -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage"
        />
    <!-- 애플리케이션이 사용자의 공유 컬렉션에있는 모든 지리적 위치에 액세스 할 수 있도록합니다. -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <!-- 카메라. -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <provider
            android:name="kr.co.kadb.cameralibrary.AdbCameraContentProvider"
            android:authorities="kr.co.kadb.cameralibrary.provider"
            android:exported="false"
            />
        <!-- 촬영. -->
        <activity
            android:name=".presentation.ui.shoot.ShootActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:theme="@style/adb_cameralibrary_Theme.Camera"
            android:windowSoftInputMode="stateHidden"
            >
            <intent-filter>
                <action android:name="kr.co.kadb.cameralibrary.ACTION_TAKE_PICTURE" />
                <action android:name="kr.co.kadb.cameralibrary.ACTION_TAKE_PICTURE_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>