<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <!-- 외장 메모리(읽기). -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        />
    <!-- 외장 메모리(쓰기). -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage"
        />
    <!-- 카메라. -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"
        />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".presentation.ui.shoot.ShootActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:rotationAnimation="seamless"
            android:screenOrientation="portrait"
            android:theme="@style/adb_cameralibrary_AppTheme"
            tools:targetApi="O"
            >
            <intent-filter>
                <action android:name="kr.co.kadb.cameralibrary.ACTION_TAKE_PICTURE" />
                <action android:name="kr.co.kadb.cameralibrary.ACTION_TAKE_MULTIPLE_PICTURE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>